.myAgentAbilitiesContainer {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    /*margin equal on both side if possible*/
    background-color: red;
}

@media (min-width: 100px) {
    .myAgentAbilitiesContainer {
        width: 75%;
        height: fit-content;
    }
}

@media (min-width: 992px) {
    .myAgentAbilitiesContainer {
        width: 85%;
        height: fit-content;
    }
}

.textStyles {
    font-Size: 4em;
    font-Weight: 900
}

@media (min-width: 100px) {
    .textStyles {
        font-Size: 1.5em;
        font-Weight: 900
    }
}

@media (min-width: 992px) {
    .textStyles {
        font-Size: 4em;
        font-Weight: 900
    }
}

.videoStyle {
    position: relative;
    width: 650px;
    height: auto;
}

@media (min-width: 100px) {
    .videoStyle {
        width: 225px;
    }
}

@media (min-width: 992px) {
    .videoStyle {
        width: 650px;
    }
}