.myAgentCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem auto;
    /*margin equal on both side if possible*/
    background-color: aqua;
    width: 90%;
    height: fit-content
}