.myAgentNameDescContainer {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    /*margin equal on both side if possible*/
}

@media (min-width: 100px) {
    .myAgentNameDescContainer {
        width: 75%;
        height: fit-content;
    }
}

@media (min-width: 992px) {
    .myAgentNameDescContainer {
        width: 85%;
        height: fit-content;
    }
}